{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is who I am.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->

 <div class="container px-4 px-lg-5">

<div class="card mb-3 w-50 mx-auto" style="width:400px">
  <div class="row no-gutters">
    <div class="col-md-5 mx-auto">
      <img src="static/assets/img/Sergey.png" class="card-img" alt="...">
    </div>
    <div class="col-md-8 mx-auto">
      <div class="card-body text-center">
        <h2 class="card-title">Sergey Ryabko</h2>
        <p class="card-text">Graduated Software Engineer, B.Sc. </p>
        <p class="card-text">
            <small class="text-muted"> C++ Developer / Python Developer   </small>
        </p>
      </div>
    </div>
  </div>
</div>
</div>

{% include "footer.html" %}