{% include "header.html" %}

<!-- Page Header-->

<header class="masthead" style="background-image: url('/static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-10">
                <div class="site-heading">
                    <h1>My apps portfolio</h1>
                    <span class="subheading"> Descriptions / applications / source codes  </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->

<div class="container px-4 px-lg-5">

{% for current_app in all_apps %}

<div class="card mb-5" style="max-width: 900;">
    <div class="row no-gutters">
        <div class="col-md-5">
            <img src= {{current_app.img1}} class="card-img rounded-5" alt="...">
        </div>
    <div class="col-md-7">
        <div class="card-body">
            <a href="{{ url_for('show_my_app', index=current_app.id) }}">
                <h4 class="card-title">{{current_app.title}}</h4>
            </a>
            <p style="white-space: pre-wrap" class="card-text">{{current_app.brief}}</p>
            <p class="card-text"><small class="text-muted">{{current_app.tools}}</small></p>
            <div align=" right ">
                <a href="{{ url_for('show_my_app', index=current_app.id) }}" class="btn btn-outline-primary">Details...</a>
            </div>
        </div>
    </div>
  </div>
</div>
{% endfor %}


{% include "footer.html" %}